.board {
  width: 100%;
  margin: 0 auto;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr 1fr;
  @media only screen and (min-width: 600px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  background-color: green;
}

.notice {
  color: yellow;
}
